body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  h1, h2, h3 {
    color: #000000;
  }

ul {
    list-style-position: outside; 
    padding: 0;
    display: inline-block;
    text-align: left;
  }
  
  a {
    color: #5587a8;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }  