---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title} | Astro Blog</title>
        <link rel="stylesheet" href="/styles/global.css">
    </head>
    <body>
        <header>
            <h1>Astro Blog</h1>
            <p>Exploring the world of static site generation with Astro.</p>
        </header>
        <main class="container">
            <slot />
        </main>
    </body>
</html>